<div>
  <b-navbar toggleable="lg" class="mb-3 bg-red" type="dark">
    <b-navbar-brand href="#" to="/">
      <img src="../../assets/logo.svg" alt="Noel Leeming">
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="#">
          <router-link to="/" class="nav-link active">Home</router-link>
        </b-nav-item>
        <b-nav-item href="#">
          <a class="nav-link active" v-b-toggle.collapse-categories variant="primary">Categories</a>
        </b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input v-model="productSearch" size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0 btn btn-success" type="button"
            @click="$emit('searchProduct', (productSearch))">Search</b-button>
          <router-link to="/cart" class="nav-link">
            <i class="fa fa-shopping-cart mr-1 fa-2x" style="color: #ffff00">
              <span class="ml-1">{{this.cartProducts.length}}</span>
            </i>
          </router-link>
        </b-nav-form>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>

  <b-collapse ref="ref-collapse-categories" id="collapse-categories" class="mt-2 mb-2">
    <b-card>
      <span
        style="position: absolute; z-index: 1; display: block; right: 0; padding: 0 5px; margin-top: 0px; color: #e20612; cursor: pointer;"
        v-b-toggle.collapse-categories>
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
      </span>

      <h3>Categories</h3>

      <div class="row mt-sm-4">
        <div v-for="(category, index) in categories" :key="index" class="col-sm-3">
          <a href="#" @click="$emit('searchCategory', category.name)">
            <p>{{ category.name }}</p>
          </a>
        </div>
      </div>
    </b-card>
  </b-collapse>
</div>