<div>
  <div class="col"
    style="background-color: #ff0606; position: relative; border: 2px solid rgb(255, 0, 0); border-radius: 0.25rem;">

    <div class="row m-sm-4" style="color: white">
      <div class="col-sm-3 mb-3 text-left">
        <p><strong>About</strong></p>
        <a>About Us</a><br />
        <a>Careers</a><br />
        <a>Commercial Sales</a><br />
        <a>Price Promise</a><br />
        <a>Privacy</a><br />
        <a>Here For Good</a><br />
        <a>Content Hub</a><br />
        <a>Reviews</a><br />
        <a>Terms & Conditions</a><br />
      </div>

      <div class="col-sm-3 mb-3 text-left">
        <p><strong>Customer Care</strong></p>
        <a>Online Help</a><br />
        <a>Click & Collect</a><br />
        <a>Contact Us</a><br />
        <a>Delivery & Shipping</a><br />
        <a>Feedback</a><br />
        <a>Fly Buys</a><br />
        <a>Returns & Exchanges</a><br />
        <a>Store Location and Hours</a><br />
        <a>Payment Options</a><br />
        <a>Gift Card</a><br />
        <a>Gift Card Balance Checker</a><br />
        <a>Repairs & Warranty</a><br />
        <a>Consumer Guarantees Act </a>
      </div>

      <div class="col-sm-3 mb-3 text-left">
        <p><strong>Services</strong></p>
        <a>Get set up</a><br />
        <a>Get advice</a><br />
        <a>Get covered</a><br />
        <a>Get it fixed</a><br />
        <a>Get support</a><br />
        <a>Get help for business</a><br />
        <a>View all services</a><br />
      </div>

      <div class="col-sm-3 mb-3 text-left">
        <p><strong>Connect with us</strong></p>
        <a>Facebook</a><br />
        <a>Instagram</a><br />
        <a>Twitter</a><br />
        <a>Youtube</a><br />
        <a>Email</a>
      </div>

    </div>

  </div>

  <div class="col"
    style="margin-top: 1px; background-color: #000000; position: relative; border: 2px solid #000000(255, 0, 0); border-radius: 0.25rem;">
    <div class="row m-sm-1" style="color: white">
      <div class="col-sm-3 col-xs-2 mt-sm-3 text-xs-center">
        <p style="color: whitesmoke"><strong>Our Family of Kiwi Brands</strong></p>
      </div>
      <div class="col-sm-2 col-xs-1 mt-sm-3">
        <p><img src="../../../public/img/the-warehouse-logo.svg" alt="The Warehouse" title="The Warehouse" /></p>
      </div>

      <div class="col-sm-2 col-xs-1 mt-sm-3">
        <p><img src="../../../public/img/warehouse-stationary-logo.svg" alt="Warehouse Stationary"
            title="Warehouse Stationary" /></p>
      </div>
      <div class="col-sm-2 col-xs-1 mt-sm-3">
        <p><img src="../../../public/img/torpedo7-logo.svg" alt="Torpedo7" title="Torpedo7" /></p>
      </div>
      <div class="col-sm-2 col-xs-1 mt-sm-3">
        <p><img src="../../../public/img/1-day-logo.svg" alt="1-day" title="1-day" /></p>
      </div>

    </div>

  </div>
</div>